# Ignore node_modules
node_modules/

.git

.r2syncrc

.npmrc

# Ignore local backups
r2-backup/

# Ignore dotenv environment file
.env

# Optional: ignore logs and temp files
*.log
.DS_Store

# Ignore FTP logs
nohup.out


